.home-btn {
  position: absolute;
  top: 15px;
  right: 25px;
}

.auth-full-bg {
  background-color: rgba(85, 110, 230, 0.25) !important;
  display: flex;

  @media (min-width: 1200px) {
    height: 100vh;
  }

  &::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  .bg-overlay {
    background: url('../../images/bg-auth-overlay.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.auth-full-page-content {
  display: flex;

  @media (min-width: 1200px) {
    min-height: 100vh;
  }
}

.auth-review-carousel {
  &.owl-theme {
    .owl-dots {
      .owl-dot {
        span {
          background-color: white;
        }
        &.active,
        &:hover {
          span {
            background-color: #556ee6;
          }
        }
      }
    }
  }
}

.header-bg {
  background-color: rgba(85, 110, 230, 0.25) !important;
}

.welcome-text {
  color: #556ee6 !important;
  font-size: 1.2rem;
}

.login-btn {
  background: #556ee6 !important;
  color: white !important;
}

.sign-in-text {
  color: #677de8 !important;
}

.content-box {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.forgot-text {
  text-decoration: none;
  color: gray;
  margin: 2px;
}


// Spinner
#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}